.contacts {
    font-style: normal;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.contacts__phone {
    font-size: 26px;
}

.contacts__workshedule {
    text-decoration: underline;
    font-size: 13px;
    line-height: 4px;
}

.contacts__hot-line {
    color: #9A9A9A;
    font-size: 11px;
    margin-bottom: 3px;
}

.contacts__phone {
    font-size: 26px;
}
