.partners {
    background: #F4F5F5;
    padding-top: 88px;
    min-height: 537px;
}

.partners__content-title {
    color: #1A1B1E;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 62px;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
}

.partners__link {
    display: flex;
    width: 230px;
    height: 131px;
    align-items: center;
    justify-content: center;
    filter: grayscale(1);
}

.partners__link:hover {
    filter: grayscale(0);
    transition: filter .3s;
}

.partners__item {
    margin-left: 54px;
}

.partners__item:nth-child(4n + 1) {
    margin-left: 0;
}

.partners__item:nth-child(4n + 1) .partners__link {
    justify-content: flex-start;
}

.partners__item:nth-child(4n + 4) {
    margin-left: auto;
}

.partners__item:nth-child(4n + 4) .partners__link {
    justify-content: flex-end;
}